[Unit]
After=flanneld.service
Requires=flanneld.service


[Service]
EnvironmentFile=-/run/flannel/subnet.env
ExecStartPre=-/usr/sbin/ip link del docker0
ExecStart=
ExecStart=/usr/bin/docker -d \
          $OPTIONS \
          $DOCKER_STORAGE_OPTIONS \
          $INSECURE_REGISTRY \
          --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}
