[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=simple
# etc logs to the journal directly, suppress double logging
StandardOutput=null
WorkingDirectory=/var/lib/etcd
User=etcd
ExecStart=
ExecStart=/bin/etcd -listen-client-urls "http://localhost:2379,http://localhost:4001,http://{{ hostvars[groups['etcd'][0]]['ansible_default_ipv4']['address'] }}:2379,http://{{ hostvars[groups['etcd'][0]]['ansible_default_ipv4']['address'] }}:4001"

[Install]
WantedBy=multi-user.target
